@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

label {
    @apply text-slate-500 font-medium;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}